div {

	height: 100px;
	width: 180px;
	padding: 10px;
	margin: 5px;
	display: inline;
}

.text1{
	
	background-color: yellow;
	

}
.text2{
	
	background-color: red;
	
	
}
.text3{
	
	background-color: yellow;
		
}